name: Site deployment

on:
  push:
    branches: [master]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up node environment
        uses: actions/setup-node@v1
        with:
          node-version: "15.5.X"
      - name: Install and build dependencies
        run: |
          npm install -g ts-node
          cd site
          npm run install-and-build-production
      - name: Run all tests
        run: |
          npm run test
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Copy client files to S3 bucket
        run: |
          aws s3 sync site/client/build/. s3://petri.works-client-static-files
      - name: Invalidate Cloudfront cache to instantly serve new files
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"